#root {
  margin: 0 auto;
  text-align: center;
  -webkit-text-fill-color: black;
  background-image: url("./assets/suelo-rustico-de-madera.jpg");
  background-size: cover;
  font-family: 'MedievalSharp', cursive;
  height: 100vh;
  width: 100vw;
}

#button{
  -webkit-text-fill-color: white;
  background-color: black;
  margin: 1vw;
}

#button2{
  -webkit-text-fill-color: white;
  background-color: black;
  margin: 1vw;
}

#button3{
  -webkit-text-fill-color: white;
  background-color: black;
  margin: 1vw;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 78vw;
  height: 30vh;
  background-color: transparent;
  padding: 30px;
  margin-left: 11vw;
  margin-right: 11vw;
  margin-top: 50vh;
}

.center-container {
  position: absolute;
  border-radius: 300px;
  background-color: black;
  width: 600px;
  height: 600px;
}

.pad{
  width: 15vw;
  margin: 2vw;
}

.pad:hover{
  cursor: pointer;
}

.pad-0{
  background-image: url("./assets/pocionmorada.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pad-1{
  background-image: url("./assets/pocionazul.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pad-2{
  background-image: url("./assets/pocionroja.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pad-3{
  background-image: url("./assets/pocionverde.png");
  background-size: contain;
  background-repeat: no-repeat;
}

